### Directories ###

node_modules/
bower_components/
app/lib/
app/vendor/
dist/
report/
files/
.tmp

### Images ###

*.psd
*.ai

### detritus ###

Thumbs.db
ehthumbs.db
debug.log
.ftpquota
error_log
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*.cab
*.msi
*.msm
*.msp
*.lnk
.sass-cache
